body {
    background-color: white;
    margin: 20px;
    font-family: 'Epilogue', sans-serif;
}

.header {

    max-height: 70px;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    padding-top: 10px;
    font-family: 'Epilogue', sans-serif;


}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 0px;
    flex-direction: column;

}

.boxFeaturesOff {
    display: flex;
    position: fixed;
    visibility: hidden;
    margin-top: 30px;
    margin-left: 75px;
}

.boxFeaturesOn {
    display: flex;
    position: fixed;
    margin-top: 60px;

}

.boxFeatMobileOff {
    visibility: hidden;
    position: absolute;


}

.boxFeaturesOn li {

    width: 180px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: hsl(0, 0%, 41%);
}

.boxFeaturesOn li div {
    display: flex;

    width: 100px;
    justify-content: space-around;
}

.boxFeaturesOn:hover li div {
    cursor: pointer;
}

.boxCompanyOff {
    display: flex;
    position: fixed;
    visibility: hidden;
    margin-top: 30px;
    margin-left: 290px;
}

.boxCompMobileOff {
    visibility: hidden;
    position: absolute;
}

.boxCompanyOn {
    display: flex;
    position: fixed;
    margin-top: 60px;
    margin-left: 215px;

}

.boxCompanyOn li {

    width: 130px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 41%);
    background-color: white;
}

.boxCompanyOn:hover li p {
    cursor: pointer;
}


.logo {
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.logo:hover {
    transition: ease-in-out;
    transform: scale(1.1);
    transition-duration: .5s;
    cursor: pointer;
}

.menuEsq {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    align-items: center;
    width: 400px;
    margin-left: 90px;
    background-color: white;
    color: hsl(0, 0%, 41%);
}

.menuEsq:hover {
    cursor: pointer;
}


.menuDir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.botaoRegister {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.features:hover {
    color: black;
}


.company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.company:hover {
    color: black;
}

.careers:hover {
    color: black;
}

.about:hover {
    color: black;
}


.reminderIcon {
    margin-left: 15px;
    padding-right: 9px;
}

.setaCimaFeat {
    position: fixed;
    margin-left: 80px;
    filter: brightness(0);
}

.setaCimaComp {
    position: fixed;
    margin-left: 80px;
    filter: brightness(0);

}

.botaoRegister {
    color: hsl(0, 0%, 41%);
    border-color: hsl(0, 0%, 41%);
}

.botaoRegister:hover {
    color: black;
    border-color: black;
    cursor: pointer;
}

.login {
    color: hsl(0, 0%, 41%);
}

.login:hover {
    color: black;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    max-width: 100vw;
    justify-content: space-evenly;

}

.imagemMain {
    width: 600px;

}

.imagemMobile {
    visibility: hidden;
    position: absolute;
}

.boxTextoMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 800px;
}

.boxTextoMain h1 {
    margin-top: 150px;
    font-size: 5.5rem;
    z-index: -1;
}

.boxTextoMain p {
    font-size: 1.3rem;
    color: hsl(0, 0%, 41%);
    margin-top: -70px;
    line-height: 1.8rem;
}

.botaoLearn {
    width: 190px;
    height: 60px;
    margin-top: -80px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

.botaoLearn:hover {
    background-color: white;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.boxBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxBottom:hover {
    cursor: pointer;
}

.todoList:hover {
    color: black;
}

.calendar:hover {
    color: black;
}

.reminders:hover {
    color: black;
}

.planning:hover {
    color: black;
}

.history:hover {
    color: black;
}

.oTeam:hover {
    color: black;
}

.blog:hover {
    color: black;
}